@charset "utf-8";
/* CSS Document */

#content {
	border: 2px solid black;
	height: 900px;
	width: 1400px;
	margin-left: 250px;
	margin-top: 30px;
}

.header {
	margin-left: 40px;
}

.navBar {
	display: inline-block;
	width: 1400px;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}

.links {
	display:inline-block;
	text-decoration:none; 
	height: 30px;
	width: 125px;
	color:black; 
	text-align: center;
	border-right: 2px solid black;
	border-left: 2px solid black;	
	margin-right:-6px;
	background-image: linear-gradient(red, yellow);	
	font-size: 20px;
	padding-top: 8px;
}
#link1 {
	border-left: none;
}
#form {
	padding-top: 4px;	
	margin-left: 500px;
	height: 20px;
	width: 230px;
	border: 2px solid black;
}

.column {
	float: left;		
	height: 730px; 
}
  
.left {
	width: 24%;
	background-color: #EFEFB2;
	
}

.right {
	width: 20%;
	background-color: #EFEFB2;
}

.middle {
	width: 56%;
}

  
.row:after {
	content: "";
	display: table;
	clear: both;
}


.footer {
	background-color: rgb(35, 39, 39);
	color: white;
	text-align: center;
	position: absolute;  		
	width: 1400px;
}

.left-container {
	background-color: rgb(172, 172, 172);
	border: 2px solid black;
	width: 260px;
	height: 400px;
	margin-left: 30px;
	margin-top: 250px;
}
.left-container p {
	padding-top: 10px;
	padding-left: 40px;
	font-size: 18px;
}

.right-container {
	background-color: rgb(172, 172, 172);
	border: 2px solid black;
	width: 200px;
	height: 620px;
	margin-left: 30px;
	margin-top: 50px;
}
.right-container-text {
	padding-left: 20px;
}

.image-card {
	display: inline-block;
	height: 300px;
	width: 350px;
	background-color: aliceblue;
	margin-top: 30px;
	margin-left: 25px;
	border: 2px solid rgb(48, 48, 48);
	box-shadow: 0px 0px 15px #7e7e7e;

}
.image-card img {
	height: 200px;
	width: 320px;
	padding: 15px;
}
.image-card p {
	padding-left: 35px;
}

.text {
	display: flex;
	flex-direction: row;
}

.textbox {
	height: 300px;
	width: 320px;
	background-color: rgb(168, 168, 168);
	margin-top: 30px;
	margin-left: 25px;
	padding: 15px;
	border: 2px solid rgb(48, 48, 48);
	box-shadow: 0px 0px 15px #7e7e7e;
}

#textbox1 {
	column-count: 2;
	text-align: center;	
}


