body {
    background-color: white;
    color: black;
    font: 12px verdana, arial, helvetica, geneva, sans-serif;

}

h1 {
    font: 24px "treubchet ms", verdana, arial, helvetica, geneva, sans-serif;    
    margin-left: 100px;
}

form {
    margin-left: 100px;

}

#slideshow {
    padding: 0 10px 10px 10px;
    float: left;
}

#imgText {
    padding: 10px 0 0 10px;
    float: left;
    width: 200px;
    height: 150px;
    border-color: black;
    border-width: 1px 0 0 1px;
    border-style: solid;
}
