<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Ülesanne</title>

<link href="css/form.css" rel="stylesheet" type="text/css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<!-- <script type="text/javascript" src="../js/jquery.js"></script> -->
<script type="text/javascript">
   
</script>
<style>
    input.ng-invalid {
        background-color: pink;
    }
    input.ng-valid {
        background-color:white;
    }    
</style>
</head>

<body ng-app="" id="twoCol">       
              
<div id="container">
  
  <div id="contentWrap">
    <div id="main">
      <h1>Order Information </h1>
      <form ng-app="myApp" action="order.php" method="post" name="form1" id="order">
        <fieldset>
          <legend>Billing Information</legend>
          <div>
            <label for="name" class="label">Name</label>
            <input name="name" ng-model="name" type="text" id="name" size="36" required>
            <span ng-show="form1.name.$touched && form1.name.$error.required" style="font-size:14px; color: red">Name is required</span>
          </div>
          <div>
            <label for="address" class="label">address</label>
            <input name="address" ng-model="address" type="text" id="address" size="36" required>
            <span ng-show="form1.address.$touched && form1.address.$error.required" style="font-size:14px; color: red">Address is required</span>
          </div>
          <div>
            <label for="city" class="label">City</label>
            <input name="city" ng-model="city" type="text" id="city" size="36" required>
            <span ng-show="form1.city.$touched && form1.city.$error.required" style="font-size:14px; color: red">City is required</span>
          </div>
          <div>
            <label for="city"
          </div>
          <div>
            <label for="zip" class="label">postal code</label>
            <input name="zip" ng-model="zip" type="text" id="zip" size="36" required>
            <span ng-show="form1.zip.$touched && form1.zip.$error.required" style="font-size:14px; color: red">Postal code is required</span>
          </div>
                    
          </div>
        </fieldset>
        
        <fieldset>
          <legend>Shipping Information</legend>
          <div class="indent">
            <input type="checkbox" ng-disabled="form1.name.$dirty && form1.name.$invalid || 
            form1.address.$dirty && form1.address.$invalid || 
            form1.city.$dirty && form1.city.$invalid || 
            form1.zip.$dirty && form1.zip.$invalid" ng-model="checked" aria-label="Toggle ngHide" name="hideShip" id="hideShip">
            <label for="hideShip">Same as billing</label>
          </div>
          <div class="check-element animate-show-hide" ng-hide="checked" id="shipping">
            <div>
              <label for="shipName" class="label">Name</label>
              <input name="shipName" ng-model="shipName" type="text" id="shipName" size="36" required>
              <span ng-show="form1.shipName.$touched && form1.shipName.$error.required" style="font-size:14px; color: red">Name is required</span>
            </div>
            <div>
              <label for="shipAddress" class="label">address</label>
              <input name="shipAddress" ng-model="shipAddress" type="text" id="shipAddress" size="36" required>
              <span ng-show="form1.shipAddress.$touched && form1.shipAddress.$error.required" style="font-size:14px; color: red">Address is required</span>
            </div>
            <div>
              <label for="shipCity" class="label">City</label>
              <input name="shipCity" ng-model="shipCity" type="text" id="shipCity" size="36" required>
              <span ng-show="form1.shipCity.$touched && form1.shipCity.$error.required" style="font-size:14px; color: red">City is required</span>
            </div>
            <div>
              <label for="shipZip" class="label">Postal Code</label>
              <input name="shipZip" ng-model="shipZip" type="text" id="shipZip" size="36" required>
              <span ng-show="form1.shipZip.$touched && form1.shipZip.$error.required" style="font-size:14px; color: red">Postal code is required</span>
            </div>          
         
        </fieldset>
      </form>
    </div>
    
  </div>
  
</div>
</body>
</html>
